@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
}

@layer base {
  body {
    @apply bg-zinc-950 text-zinc-50 cursor-none overflow-x-hidden;
    font-family: theme('fontSans');
  }
  
  h1, h2, h3, .serif {
    font-family: theme('fontSerif');
  }

  * {
    cursor: none !important;
  }
}

@layer utilities {
  .mix-blend-difference {
    mix-blend-mode: difference;
  }
}
